<% content_for :h1 do %>Add a new album<% end %>
<div style="display: flex; flex-direction: column;">
  <%= render 'shared/errors' %>
  <br>
  <br>
  <form action="<%= bands_url %>" method="post" style="display: flex; flex-direction: column; margin-left: 20px;">
    <%= auth_token %>
    <label for="band_name">Band name:</label>
    <button class="button dropdown" type="button" data-toggle="dropdown">
      <input
      type="text"
      name="album[band]"
      id="band_name"
      value="<%= @band.name %>"
      style="margin-bottom: 10px;"
      >
      <br>
    <input type="submit" value="Add Band" style="color: #1b1d20; background-color: #7b8187; border-radius: 5px; height: 40px; border: 0px;">
  </form>
</div>

