<section class="page"><div class="centered-box">
  <h1>Edit My Cat</h1>
  <%= render 'shared/errors' %>
  <%= render 'form', cat: @cat %>
  </div></section>
<% content_for :footer do %>
  <p>This determinate original nature of consciousness, in which it  finds itself freely and wholly, appears as theimmediate and only  proper content of the purpose of the individual. That content is indeed  a definite content,but is only content so far as we take the implicit  nature in isolation. In truth, however, it is reality (Realitat)permeated by individuality: actuality (Wirklichkeit) in the way  consciousness qua individual contains thiswithin itself, and is to  begin with taken as existing, but not yet as acting. So far as action  is concerned,however, that determinateness is, in one respect, not a  limitation it wants to overcome; for, looked at as anexistent quality,  that determinateness is simply the colour of the element where it  moves: in another respect,however, the negativity is determinateness  merely in the case of what "exists". But acting is nothing else thannegativity. Hence when individuality acts, its specific determinateness  is dissipated into the general processof negation, into the sum and  substance of all determinateness. - G.W.F. Hegel, The Phenomenology of Mind</p>
<% end %>
