<section class="page"><div class="centered-box">
    <h1>New Cat</h1>

    <%= render 'shared/errors' %>
    <%= render 'form', cat: @cat %>
</div></section>
<% content_for :footer do %>
  <p>At the outset, then, the nature of individuality in its original  determinate form, its immediate essence, is notyet affirmed as active;  and in this shape is called special capacity, talent, character, and so  on. This peculiarcolouring of mind must be looked at as the only  content of its purpose, and as the sole and only reality. If wethought  of consciousness as going beyond that, as seeking to bring into reality  another content, then weshould think of it as a nothing working away  towards nothing. - G.W.F. Hegel, The Phenomenology of Mind</p>
<% end %>
